@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-dark-green: #2D362B;
  --vt-c-medium-dark-green: #67675D;
  --vt-c-medium-green: #88877A;
  --vt-c-ligther-green: #959C92;
  --vt-c-bege: #EFEDE7;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-bege);
}

@font-face {
  font-family: RobotoRegular;
  src: url(../assets/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(../assets/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: RobotoMedium;
  src: url(../assets/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoLight;
  src: url(../assets/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: LoraRegular;
  src: url(../assets/Lora/Lora-Regular.ttf);
}



body {
  background: var(--color-background) !important;
}

.rm{
  font-family: RobotoMedium !important;
}
.rr{
  font-family: RobotoRegular !important;
}
.rr{
  font-family: RobotoLight !important;
}
.lr{
  font-family: LoraRegular;
}

.click{
  cursor: pointer;
}

.nav-link{
  color: black !important;
  margin-left: 40px;
  margin-right: 40px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.19em;
}
.navbar{
  width: 84%;
  margin: auto;
}
.logo{
  width: min(200px,40%);
  cursor: pointer;
}
.img-fluid{
  width: 100%;
  height: auto;
  object-fit: cover;
}

label{
  display:flex;
  flex-direction:column;
  width:min(40px,8vw);
  height: min(50px,10vw);
  cursor:pointer;
}

label .line{
  background: #2D362B;
  border-radius:10px;
  height:2px;
  margin: min(11px,2vw) 0;

}


.line:nth-of-type(1){
  width:100%;
}

.line:nth-of-type(2){
  width:100%;
}


.line:nth-of-type(3){
  width:100%;
}
.secondary-nav{
  width: max(min(1024px,100%),70%);
  position: fixed;
  top: 0%;
  background-color: var(--vt-c-dark-green);
  right:  min(max(-1024px,-100%),-70%);
  height: 100vh;
  z-index: 5;
}
.secondary-nav.active{
  right: 0%;
  transition: right 1s;
}
.nav-close-button{
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}
.left-nav{
  list-style-type: none;
  display: flex;
  height: 70%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-evenly;
}
.left-nav li {
  font-family:LoraRegular;
  letter-spacing: 00.19em;
  font-size: calc(30px + (70 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: var(--vt-c-bege);
  cursor: pointer;
}
.left-nav li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

@media only screen and (max-width: 600px) {
  .left-nav li.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
  }
}
