

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
  }
  .hr{
    display: block;
    height: 1px;
    width: 20%;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: var(--vt-c-bege);
    border: none;
  }
  .housesBox{
    width: 100%;
  }
  .house{
    font-family: RobotoLight;
    font-weight: 300;
    letter-spacing: 0.19em;
    color: var(--vt-c-dark-green);
    background-color: var(--vt-c-bege);
    border: 1px solid var(--vt-c-dark-green);
    font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem) !important;
    width: min(250px,42%);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition-duration: 500ms;
  }
  .house:hover{
    border: 1px solid var(--vt-c-dark-green);
    background-color: var(--vt-c-dark-green);
    color: var(--vt-c-bege);
  }
  main{
    min-height: calc(100vh - 100px);
  }
  


  .textStyle{
    letter-spacing: 4px;
    color: var(--vt-c-bege) !important;
    font-size: 18px;
    font-family: RobotoRegular;
    font-weight: 500;
    line-height: 21px;
    margin-top: 30px;
  }
  
  .h1{
    letter-spacing: 4px;
    color: var(--vt-c-bege) !important;
    font-family: LoraRegular;
    margin-top: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.7rem, -0.875rem + 8.333vw, 4.75rem) !important;
    width: 100%;
    text-align: center;
    margin-left: auto;
    line-height: 150% !important;
    margin-right: auto;
    letter-spacing: 0.19em;
    text-align: center;
  }

  

  .width{
      width: 70% !important;
      margin-top: 70px !important;
     
  }
  .back{
    background-color: var(--vt-c-bege);
}
  
  .check-availability{
   
      color: var(--vt-c-dark-green);
      text-align: center;
      cursor: pointer;
      background-color: var(--vt-c-bege);
  }
  .check-availability .text-c{
    letter-spacing: 00.19em;
    padding: 25px 30px;
    font-size: 18px;
    line-height: 40px;
    font-size: RobotoMedium;
    fill: var(--vt-c-bege);
}
  
.arrow{
    fill: var(--vt-c-dark-green);
    stroke: 1px;
}
.row-titles{
    padding: 30px 8px;
    font-size: RobotoMedium;
    letter-spacing: 00.19em;
}
.text-number{
    font-size: 36px;
    font-family: RobotoRegular;
    letter-spacing: 00.19em;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: transparent;
  color: transparent;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.numberOfGuests{
  background-color: transparent;
  border: transparent;
  text-align: center;
}
.datePicker{
  position: absolute;
  left: 35%;
  z-index: -2;
  transform: translate(-50%,-50%);
}

.col-10{
 border: 1px solid var(--vt-c-dark-green);
 padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .numberOfGuests{
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 100%;
  }
  .width{
    width: 80% !important;
    margin-top: 40px !important;
}
}