.Houses{
    display: flex !important;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.page-title{
    width: 100%;
    text-align: center;
    font-family: LoraRegular;
    font-size: 64px;
    letter-spacing: 00.19em;
    color: var(--vt-c-dark-green);
    line-height: 60px;
}