.page-title{
    width: 100%;
    text-align: center;
    font-family: LoraRegular;
    font-size: clamp(3rem, -0.875rem + 8.333vw, 4rem) !important;
    letter-spacing: 00.19em;
    color: var(--vt-c-dark-green);
    line-height: 60px;
}
.page-text{
    width: 50%;
    text-align: center;
    margin: 50px auto;
    font-family: RobotoMedium;
    font-size: clamp(1.2rem, -0.875rem + 6vw, 1.4rem) !important;
    letter-spacing: 00.19em;
    color: var(--vt-c-dark-green);
}
.row-services{
    width: 100%;
    background-color: var(--vt-c-ligther-green);
    padding: 80px 0px;
}
.row-container{
    padding: 80px 0px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col-30{
    width: 40%;
}
.col-9{
    position: relative;
    min-height: 250px;
    min-width: 200px;
}
.col-xl-7 .title{
    font-family: LoraRegular;
    font-size: clamp(3rem, -0.875rem + 8.333vw, 4rem) !important;
    letter-spacing: 00.19em;
    color: var(--vt-c-bege);
    line-height: 60px;
    margin-bottom: 50px;
}
.img-luxury{
    margin: auto;
    margin-bottom: 100px;
}

.col-xl-7 ul li{
    letter-spacing: 00.19em;
    font-family: RobotoRegular;
    color: var(--vt-c-bege);
    font-size: clamp(1.2rem, -0.875rem + 6vw, 1.4rem) !important;
    line-height: 55px;
} 

.img-container{
position: absolute;
width: 60%;
top: 45%;
left: 50%;
height: 120%;
min-height: 300px;
min-width: 250px;
z-index: 10;
background-color: #C4C4C4;
transform: translate(-50%,-50%);
}
.col-romantic .title{
    font-family: LoraRegular;
    font-size:clamp(2.5rem, -0.875rem + 8.333vw, 4rem) !important;
    letter-spacing: 00.19em;
    color: var(--vt-c-dark-green);
    line-height: 60px;
    margin-bottom: 50px;
}

.col-romantic ul li{
    letter-spacing: 00.19em;
    font-family: RobotoRegular;
    color: var(--vt-c-dark-green);
    font-size:   clamp(1.2rem, -0.875rem + 6vw, 1.4rem) !important;
    line-height: 55px;
} 

.col-romantic-img-container{

    height: 20vw;
    margin: 30px auto;
    background-color: #C4C4C4;
}
.col-romantic-img-container .img{
    width: 38vw;
    height: 20vw;
    margin: auto;
    background-color: #C4C4C4;
}



@media only screen and (max-width: 768px) {
    .page-text{
        width: 80%;
    }
      
  }

