.pageContainer{
position: absolute;
top: 0px;
left: 0px;
z-index: 100;
width: 100vw;
height: 100vh;
background-color: var(--vt-c-bege);
}

.housesBox2{
    width: 100%;
  }
  .house{
    font-family: RobotoLight;
    font-weight: 300;
    letter-spacing: 0.19em;
    background-color: var(--vt-c-dark-green);
    color: var(--vt-c-bege);
    border: 1px solid var(--vt-c-bege);
    font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem) !important;
    width: min(250px,42%);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition-duration: 500ms;
  }
  .house:hover{
    border: 1px solid var(--vt-c-dark-green);
    background-color: var(--vt-c-bege);
    color: var(--vt-c-dark-green);
  }